[package]
name = "uniffi-bindgen"
version = "0.1.0"
edition = "2021"
license = "MIT"
publish = false

[[bin]]
name = "uniffi-bindgen"
path = "src/main.rs"

[dependencies]
uniffi = { version = "0.29", features = ["cli"] }
